<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
        <h5>Tutorial</h5>
        <p><small>Vamos te explicar como funciona.</small></p>
        <p><small>A tarefa consiste em descobrir quantos pontos deveriam estar nas duas metades do dominó em
branco, para que a sequência seja completada ou a figura forme um sentido.</small></p>
        <p><small>Não há problema caso não conheçam este jogo nem nenhuma de suas regras. Somente é necessário saber que, em cada metade do dominó, pode haver de 0 a 6 pontos, e que na colocação deles se segue uma ordem circular, ou seja, depois do 6 vem o zero e antes do zero vem o 6. Por exemplo: ...3-4-5-6-0-1-2... e ...4-3-2-1-0-6-5-4...</small></p>
        <p><small>Sua tarefa consiste em descobrir que número de pontos deveria ter o dominó que  aparece vazio.</small></p>
        <p><small>Os problemas variam em dificuldade. Se algum exercício lhes parece demasiadamente difícil, não se detenha muito nele, passe ao seguinte, e se ao final sobrar tempo, você poderá voltar e tente resolvê-lo. Trabalhem o mais rapidamente possível. Você terá 25 minutos para resolver. Não se preocupe se não der tempo.</small></p>
        <p><small>Vamos resolver alguns exemplos para que entenda claramente o que deve fazer:</small></p>
        <p><small>Que valores deveria conter o dominó vazio?</small></p>


        <h6>Exemplo A</h6>
        <div class="row questao">
          <div class="col">
            <table>
              <tr><td class="border border-primary domino um"></td></tr>
              <tr><td class="border border-primary domino um"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino dois"></td>
                <td class="border border-primary domino dois"></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino tres"></td></tr>
              <tr><td class="border border-primary domino tres"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino quatro"></td>
                <td class="border border-primary domino quatro"></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino cinco"></td></tr>
              <tr><td class="border border-primary domino cinco"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-danger domino">
                  <input name="r1" type="number" min="0" max="6" />
                </td>
              </tr>
              <tr>
                <td class="border border-danger domino">
                  <input name="r2" type="number" min="0" max="6" />
                </td>
              </tr>
            </table>
            <p><small>Digite a resposta aqui.</small></p>
          </div>
        </div>

        <div class="card bg-primary text-white">
          <div class="card-body">
            <h6>Resposta</h6>
            <div class="row questao">
              <div class="col-md-2">
                <table>
                  <tr><td class="border border-primary domino seis"></td></tr>
                  <tr><td class="border border-primary domino seis"></td></tr>
                </table>
              </div>
              <div class="col-md-10">
                <p><small>A posição dos dominós é, alternadamente, horizontal e vertical, todos eles são dobrados, ou seja, têm o mesmo número de pontos em cada uma das duas metades, e seus valores seguem uma ordem sucessiva: 1, 2, 3, 4, 5.
                Que valor será depois do 5?<br />
                Sim, é o 6. O dominó vazio deverá ter 6 pontos em cada metade.</small></p>
              </div>
            </div>
          </div>
        </div>


        <br /><br /><h6>Exemplo B</h6>
        <div class="row questao">
          <div class="col">
            <table>
              <tr><td class="border border-primary domino zero"></td></tr>
              <tr><td class="border border-primary domino um"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino dois"></td></tr>
              <tr><td class="border border-primary domino zero"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino zero"></td></tr>
              <tr><td class="border border-primary domino tres"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino quatro"></td></tr>
              <tr><td class="border border-primary domino zero"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino zero"></td></tr>
              <tr><td class="border border-primary domino cinco"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-danger domino">
                  <input name="r1" type="number" min="0" max="6" />
                </td>
              </tr>
              <tr>
                <td class="border border-danger domino">
                  <input name="r2" type="number" min="0" max="6" />
                </td>
              </tr>
            </table>
            <p><small>Digite a resposta aqui.</small></p>
          </div>
        </div>

        <div class="card bg-primary text-white">
          <div class="card-body">
            <h6>Resposta</h6>
            <div class="row questao">
              <div class="col-md-2">
                <table>
                  <tr><td class="border border-primary domino seis"></td></tr>
                  <tr><td class="border border-primary domino zero"></td></tr>
                </table>
              </div>
              <div class="col-md-10">
                <p><small>Todos estes dominós possuem uma metade sem nenhum ponto, que alternadamente é a parte de cima e a de baixo. Na outra metade o número de pontos aumenta desta forma: 1, 2, 3, 4, 5. Que valor vem depois?<br />
                Sim, é o 6. Este é o número que deveria ir na parte de cima, pois na anterior o 5 estava na parte de baixo. A outra metade do dominó permanecerá vazia, e para indicá-lo deverá ser marcado o número 0 (zero).</small></p>
              </div>
            </div>
          </div>
        </div>


        <br /><br /><h6>Exemplo C</h6>
        <div class="row questao">
          <div class="col">
            <table>
              <tr><td class="border border-primary domino quatro"></td></tr>
              <tr><td class="border border-primary domino dois"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino cinco"></td></tr>
              <tr><td class="border border-primary domino um"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino seis"></td></tr>
              <tr><td class="border border-primary domino zero"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino zero"></td></tr>
              <tr><td class="border border-primary domino seis"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-danger domino">
                  <input name="r1" type="number" min="0" max="6" />
                </td>
              </tr>
              <tr>
                <td class="border border-danger domino">
                  <input name="r2" type="number" min="0" max="6" />
                </td>
              </tr>
            </table>
            <p><small>Digite a resposta aqui.</small></p>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino dois"></td></tr>
              <tr><td class="border border-primary domino quatro"></td></tr>
            </table>
          </div>
        </div>

        <div class="card bg-primary text-white">
          <div class="card-body">
            <h6>Resposta</h6>
            <div class="row questao">
              <div class="col-md-2">
                <table>
                  <tr><td class="border border-primary domino um"></td></tr>
                  <tr><td class="border border-primary domino cinco"></td></tr>
                </table>
              </div>
              <div class="col-md-10">
                <p><small>A série de valores da parte superior das fichas é: 4, 5, 6, 0, 1, ..., etc. Vemos claramente que o valor que falta na parte superior é o 2.<br />
                Vejamos agora a parte de baixo. Nela a ordem é 2, 1, 0, 6, 5 etc. No lugar vazio na parte de baixo teríamos que colocar um 4.<br />
                A solução é, portanto, 1-5.</small></p>
              </div>
            </div>
          </div>
        </div>


        <br /><br /><h6>Exemplo D</h6>
        <div class="row questao">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino seis"></td></tr>
              <tr><td class="border border-primary domino um"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino seis"></td></tr>
              <tr><td class="border border-primary domino um"></td></tr>
            </table>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="row questao">
          <div class="col"></div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino cinco"></td>
                <td class="border border-primary domino dois"></td>
              </tr>
            </table>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino dois"></td>
                <td class="border border-primary domino cinco"></td>
              </tr>
            </table>
          </div>
          <div class="col"></div>
        </div>

        <div class="row questao">
          <div class="col"></div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino zero"></td>
                <td class="border border-primary domino quatro"></td>
              </tr>
            </table>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-primary domino quatro"></td>
                <td class="border border-primary domino zero"></td>
              </tr>
            </table>
          </div>
          <div class="col"></div>
        </div>

        <div class="row questao">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <table>
              <tr><td class="border border-primary domino um"></td></tr>
              <tr><td class="border border-primary domino tres"></td></tr>
            </table>
          </div>
          <div class="col">
            <table>
              <tr>
                <td class="border border-danger domino">
                  <input name="r1" type="number" min="0" max="6" />
                </td>
              </tr>
              <tr>
                <td class="border border-danger domino">
                  <input name="r2" type="number" min="0" max="6" />
                </td>
              </tr>
            </table>
            <p><small>Digite a resposta aqui.</small></p>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="card bg-primary text-white">
          <div class="card-body">
            <h6>Resposta</h6>
            <div class="row questao">
              <div class="col-md-2">
                <table>
                  <tr><td class="border border-primary domino um"></td></tr>
                  <tr><td class="border border-primary domino tres"></td></tr>
                </table>
              </div>
              <div class="col-md-10">
                <p><small>Comparemos, em cada fila, o dominó da esquerda com o da direita.<br />
                Acima, à esquerda, temos 6-1, e à direita igualmente 6-1.<br />
                Na fila imediatamente inferior, à esquerda, 5-2, e à direita 2-5 (as metades interiores são iguais e o mesmo ocorre com as exteriores).<br />
                Debaixo, os valores são 0-4 à esquerda e 4-0 à direita.<br />
                Finalmente, abaixo de tudo, em relação ao dominó da esquerda 1-3 corresponderá na direita...<br />
                Sim, 1-3 é a resposta correta.</small></p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <hr />
      Podemos começar?
      <a (click)="start()" class="btn btn-primary">:D Claro!</a>
  </div>
</div>