<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
        <h5>Obrigado!</h5>
        <p><small>Você concluiu o teste da aplicação.</small></p>
        <p><small>Sua contribuição foi muito importante e vai nos ajudar a ajudar um monte de alunos de programação.</small></p>
        <p><small> Muito obrigado. ^^</small></p>
      </div>
  </div>
</div>