<div class="card shadow p-3 mb-5 bg-write rounded">
  <div class="card-title">
    <h1 class="display-1 text-center">affinity</h1>
  </div>
  <div class="card-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="progresso" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{ restante }} minutos restantes.</div>
    </div>

    <br />
    <nav aria-label="Navegação de página exemplo">
      <ul class="pagination">
        <li *ngFor="let wallet of coinwallet" class="page-item" [class.active]="selectedwallet === wallet">
          <a class="page-link" (click)="selectedwallet = wallet" ><small>{{ wallet }}</small></a>
        </li>
      </ul>
    </nav>

    <div class="tab-content">
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[0]" role="tabpanel">
        <app-quest01></app-quest01>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[1]" role="tabpanel">
        <app-quest02></app-quest02>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[2]" role="tabpanel">
        <app-quest03></app-quest03>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[3]" role="tabpanel">
        <app-quest04></app-quest04>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[4]" role="tabpanel">
        <app-quest05></app-quest05>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[5]" role="tabpanel">
        <app-quest06></app-quest06>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[6]" role="tabpanel">
        <app-quest07></app-quest07>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[7]" role="tabpanel">
        <app-quest08></app-quest08>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[8]" role="tabpanel">
        <app-quest09></app-quest09>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[9]" role="tabpanel">
        <app-quest10></app-quest10>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[10]" role="tabpanel">
        <app-quest11></app-quest11>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[11]" role="tabpanel">
        <app-quest12></app-quest12>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[12]" role="tabpanel">
        <app-quest13></app-quest13>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[13]" role="tabpanel">
        <app-quest14></app-quest14>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[14]" role="tabpanel">
        <app-quest15></app-quest15>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[15]" role="tabpanel">
        <app-quest16></app-quest16>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[16]" role="tabpanel">
        <app-quest17></app-quest17>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[17]" role="tabpanel">
        <app-quest18></app-quest18>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[18]" role="tabpanel">
        <app-quest19></app-quest19>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[19]" role="tabpanel">
        <app-quest20></app-quest20>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[20]" role="tabpanel">
        <app-quest21></app-quest21>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[21]" role="tabpanel">
        <app-quest22></app-quest22>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[22]" role="tabpanel">
        <app-quest23></app-quest23>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[23]" role="tabpanel">
        <app-quest24></app-quest24>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[24]" role="tabpanel">
        <app-quest25></app-quest25>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[25]" role="tabpanel">
        <app-quest26></app-quest26>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[26]" role="tabpanel">
        <app-quest27></app-quest27>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[27]" role="tabpanel">
        <app-quest28></app-quest28>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[28]" role="tabpanel">
        <app-quest29></app-quest29>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[29]" role="tabpanel">
        <app-quest30></app-quest30>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[30]" role="tabpanel">
        <app-quest31></app-quest31>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[31]" role="tabpanel">
        <app-quest32></app-quest32>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[32]" role="tabpanel">
        <app-quest33></app-quest33>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[33]" role="tabpanel">
        <app-quest34></app-quest34>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[34]" role="tabpanel">
        <app-quest35></app-quest35>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[35]" role="tabpanel">
        <app-quest36></app-quest36>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[36]" role="tabpanel">
        <app-quest37></app-quest37>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[37]" role="tabpanel">
        <app-quest38></app-quest38>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[38]" role="tabpanel">
        <app-quest39></app-quest39>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[39]" role="tabpanel">
        <app-quest40></app-quest40>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[40]" role="tabpanel">
        <app-quest41></app-quest41>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[41]" role="tabpanel">
        <app-quest42></app-quest42>
      </div>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[42]" role="tabpanel">
        <app-quest43></app-quest43>
      <div class="tab-pane active questao" *ngIf="selectedwallet === coinwallet[43]" role="tabpanel">
        <app-quest44></app-quest44>
      </div>
      </div>
    </div>
    <hr />
    <p class="text-right"><a (click)="selectedwallet = selectedwallet + 1" class="btn btn-primary">Próximo</a></p>
</div>
