<div class="row questao">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino zero"></td></tr>
      <tr><td class="border border-primary domino tres"></td></tr>
    </table>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino quatro"></td></tr>
      <tr><td class="border border-primary domino cinco"></td></tr>
    </table>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row questao">
  <div class="col"></div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-primary domino zero"></td>
        <td class="border border-primary domino tres"></td>
      </tr>
    </table>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-primary domino dois"></td>
        <td class="border border-primary domino seis"></td>
      </tr>
    </table>
  </div>
  <div class="col"></div>
</div>

<div class="row questao">
  <div class="col"></div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-primary domino quatro"></td>
        <td class="border border-primary domino cinco"></td>
      </tr>
    </table>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-primary domino um"></td>
        <td class="border border-primary domino quatro"></td>
      </tr>
    </table>
  </div>
  <div class="col"></div>
</div>

<div class="row questao">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <table>
      <tr>
        <td class="border border-danger domino">
          <input name="r1" type="number" min="0" max="6" #up (blur)="responder(1, up.value)" [(ngModel)]="upAnswer" />
        </td>
      </tr>
      <tr>
        <td class="border border-danger domino">
          <input name="r2" type="number" min="0" max="6" #donw (blur)="responder(2, donw.value)" [(ngModel)]="downAnswer" />
        </td>
      </tr>
    </table>
    <p><small>Digite a resposta aqui.</small></p>
  </div>
  <div class="col">
    <table>
      <tr><td class="border border-primary domino um"></td></tr>
      <tr><td class="border border-primary domino quatro"></td></tr>
    </table>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>