<div class="container">
  <div class="card shadow p-3 mb-5 bg-write rounded">
    <div class="card-title">
      <h1 class="display-1 text-center">affinity</h1>
    </div>
    <div class="card-body">
      <hr />
      <br /><br /><br /><br />
      <div class="card-body">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" name="pass" #pass="ngModel" [(ngModel)]="senha" class="form-control" required />
          </div>
          <div class="form-group">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>