/* Add application styles & imports to this file! */

body {
  padding-top: 30px;
}

table {
  margin: auto;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

.validation-error {
  color: red;
}

.page-link {
  padding: .5rem .48rem !important;
}

.autorizacao {
  height: 250px;
}

.questao {
  padding: 20px 0px;
}

.domino {
  background-image: url("https://i.ibb.co/nbqYMY3/dice-texture.png");
  background-size: 150px 150px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.zero {
  background-position: left top;
}

.um {
  background-position: center center;
}

.dois {
  background-position: left center;
}

.tres {
  background-position: center bottom;
}

.quatro {
  background-position: center top;
}

.cinco {
  background-position: right center;
}

.seis {
  background-position: right bottom;
}

.resposta {
  width: 50px;
  height: 50px;
}